.main{

padding: 20px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;

}

.main img {
    width: 31%;
    float: right;
    height: 450px;
    padding: 10px;
    margin: 10px;
    border: 5px solid orange;
    border-radius: 10px;
}
h1{
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin-left: 100px;
color: orange;
text-shadow: 2px 2px 4px rgb(114, 110, 104);
}